extends ../layout

block title
    | Home page

block content
    #map(style="width: 100%; height: 100%; padding-top: 55px;")
    //.ui.main.text.container
    //    h1.ui.header Semantic UI Fixed Template
    //    p This is a basic fixed menu template using fixed size containers.
    //    p.
    //        A text container is used for the main container,
    //        which is useful for single column layouts
    //    img.wireframe(src='/img/media-paragraph.png')
    //    img.wireframe(src='/img/paragraph.png')
