doctype html
html(lang="en")
    head
        title
            block title
                | GPS Tracker
        link(rel="icon" href="/favicon.ico" type="image/x-icon")
        block styles
            link(href='/css/app-dev.css' rel='stylesheet')
    body
        .ui.fixed.inverted.menu(style='height: 55px')
            .ui.container
                a.header.item(href='javascript:void(0)') GPS Tracker

        block content

        block scripts
            script(src='https://api-maps.yandex.ru/2.1/?lang=ru_RU' type='text/javascript')
            script(src='/js/app-dev.js' type='text/javascript')
